<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TestNG Suite1">

<listeners>
<listener class-name="testngListener.CustomListener"></listener>
<listener class-name="org.uncommons.reportng.HTMLReporter"></listener>

</listeners>

  <test name="Testcase 1">
    <classes>
     
      <class name="testngTestcases.Testcase1"/>
       
    </classes>
  </test>
  
  <test  name="Testcase 2">
    <classes>
     
      <class name="testngTestcases.Testcase2"/>
    </classes>
  </test> 
  
  <test  name="Testcase 3">
    <classes>
     
      <class name="testngTestcases.Testcase3"/>
    </classes>
  </test>
</suite> <!-- TestNG Suite1 -->
